---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="Some Code/Projects I've Written">
  <h3 class="text-xl font-heading font-bold mb-4">Projects (Recent)</h3>

  <ul class="list-disc pl-6 space-y-4 mb-8">
    <li>
      <a href="https://github.com/ShayanRiyaz/Causal-MRI-Tumor-Detect" target="_blank" rel="noopener" class="text-primary hover:underline font-semibold">Deep Learning Tumor Detection & Segmentation</a>
      <br />
      <em class="text-gray-600">[In Progress]</em> I found project through manning, I am writing an online MRI Detection & Segmentation detection. Writing custom transformers and integrating variational auto encoders to implement causal analysis.
    </li>
    <li>
      <a href="https://github.com/ShayanRiyaz/CardioAnnotator" target="_blank" rel="noopener" class="text-primary hover:underline font-semibold">Clinical Annotator</a>
      <br />
      <em class="text-gray-600">[In Progress]</em> A specialized annotation tool for clinical cardiovascular data, designed to streamline the labeling process for medical time-series signals and imaging data. Features custom visualization pipelines for multi-modal cardiac measurements and supports collaborative annotation workflows for building high-quality training datasets in cardiovascular AI applications.
    </li>
  </ul>

  <h3 class="text-xl font-heading font-bold mb-4">Workshops</h3>

  <ul class="list-disc pl-6 space-y-4 mb-8">
    <li>
      <a href="https://colab.research.google.com/github/ShayanRiyaz/My-Technical-Workshops/blob/master/Introductory-Data-Science-Workshop/BitUniversity-Workshop.ipynb" target="_blank" rel="noopener" class="text-primary hover:underline font-semibold">Introduction to Data Science</a>
      <br />
      A simple easy to follow introduction to programming for data science/analysis. The topics covered are <code>Python</code>, DataFrames with <code>Pandas</code> and a tutorial using the <strong>Trans-Atlantic Slave Trade</strong> <a href="https://www.slavevoyages.org/" target="_blank" rel="noopener" class="text-primary hover:underline">dataset</a>.
    </li>
    <li>
      <a href="https://colab.research.google.com/github/ShayanRiyaz/My-Technical-Workshops/blob/master/Deep-Learning-Robotics-Workshop/Deep-Learning-and-Robotics-Presentation.ipynb#scrollTo=xhpt8Y9Zz9TM" target="_blank" rel="noopener" class="text-primary hover:underline font-semibold">Introduction to Robotics and Deep Learning</a>
      <br />
      This workshop talks about implementing Deep learning on Inertial Measurement Unit (IMU) data in order to classify gestures and using the model in Unity 3D. Topics covered are data processing, Feeding data to a Neural Network and evaluating models.
    </li>
  </ul>

  <h4 class="text-lg font-heading font-bold mb-4">Archive</h4>

  <ul class="list-disc pl-6 space-y-4">
    <li>
      <a href="https://github.com/bitprj/DigitalHistory" target="_blank" rel="noopener" class="text-primary hover:underline font-semibold">Digital History Curriculum</a>
      <br />
      An Open-Source introductory data science curriculum for people with a Non-Technical background. This curriculum is currently being implemented at the Humanities College of California State University, Fullerton.
    </li>
    <li>
      <a href="https://github.com/MLH-Fellowship/Neuro-Art" target="_blank" rel="noopener" class="text-primary hover:underline font-semibold">Neuro Art</a>
      <br />
      Following the footsteps of many people who were curious to build their own implementation and deployment we designed our web application to allow people who want to test out Neural Style Transfer.
    </li>
    <li>
      <a href="https://github.com/ShayanRiyaz/Drowsy-Detector" target="_blank" rel="noopener" class="text-primary hover:underline font-semibold">Drowsy Detector</a>
      <br />
      A drowsy detector for drivers on trips. If the camera detects drowsiness it quickly alerts the user and suggests/reroutes to rest stops or gas stations open nearby.
    </li>
    <li>
      <a href="https://github.com/MLH-Fellowship/Rex-Run" target="_blank" rel="noopener" class="text-primary hover:underline font-semibold">Rex Run</a>
      <br />
      An endless runner made during a hackathon sprint.
    </li>
    <li>
      <a href="https://github.com/ShayanRiyaz/Excel-Bulk-Processor" target="_blank" rel="noopener" class="text-primary hover:underline font-semibold">Excel Bulk Processor</a>
      <br />
      An all in one program to help convert and process Excel files/sheets to formatted and custom csv files.
    </li>
  </ul>
</PageLayout>
